/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@font-face {
  font-family: kg-what-a-time;
  src: url(../css/kg-what-a-time.ttf) format("truetype"); }

/* PALETA DE COLORES */
/* NORMALIZE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }
  * body h1 {
    font-size: 2rem; }
  * body h3 {
    margin: 0;
    font-size: 2rem;
    font-family: kg-what-a-time; }
  * body p {
    font-size: 1.2rem; }
  * body ul {
    margin: 0; }
  * body a {
    text-decoration: none;
    color: currentColor; }
  * body hr {
    padding: 1rem 0rem;
    margin: 0;
    opacity: 0.5; }


/*WHATSAP*/

#whatsapp {
  background-color: #008000;
  display: block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  position: fixed;
  right: 1rem;
  bottom: 10rem;
  border-radius: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0);
  font-size: 35px;
  z-index: 2000; }


/* NAVBAR */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  .header .nav-logo {
    color: #69af5c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #E1EFDE;
    font-family: kg-what-a-time;
    font-size: 3.8rem; }
  .header .navbar {
    background-color: #E1EFDE;
    padding: 0; }
  .header .navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 1.2rem;
    padding-bottom: 0; }
    @media (min-width: 992px) {
      .header .navbar-nav .nav-item .nav-link {
        margin: 0rem 2rem; } }
  @media (min-width: 992px) {
    .header .navbar-nav .circles::after {
      content: " ";
      width: 0.75rem;
      height: 10px;
      border-radius: 20rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.25rem; }
    .header .navbar-nav .circles:hover::after {
      width: 70%;
      height: 10px;
      transition: all .2s ease-out;
      margin: 0 auto; }
    .header .navbar-nav .circles#nav-home::after {
      background-color: white; }
    .header .navbar-nav .circles#nav-about::after {
      background-color: #9a74a2; }
    .header .navbar-nav .circles#nav-consultas::after {
      background-color: #fab95b; }
    .header .navbar-nav .circles#nav-talleres::after {
      background-color: #ee8886; }
    .header .navbar-nav .circles#nav-files::after {
      background-color: #dccb73; }
    .header .navbar-nav .circles#nav-contacto::after {
      background-color: #69af5c; } }
  .header .navbar-nav .dropdown-menu {
    background-color: #E1EFDE;
    font-family: "Lato", sans-serif;
    color: black; }
    .header .navbar-nav .dropdown-menu .dropdown-item {
      font-size: 1.3rem; }
  .header button.navbar-toggler {
    border: none;
    transition: none; }
  .header button.navbar-toggler span i.fas.fa-bars {
    color: #69af5c;
    font-size: 1.8rem; }
  .header button.navbar-toggler:focus {
    border: none;
    box-shadow: none; }

/* FOOTER */
footer {
  height: fit-content;
  background-color: #E1EFDE; }
  footer div {
    color: #69af5c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    footer div img {
      height: 2.5rem;
      width: 2.5rem;
      margin: 2rem 0rem;
      color: #69af5c; }

/* SECCIONES */
section {
  height: fit-content;
  padding: 0.5rem 0rem 0.5rem 0rem; }
  @media (max-width: 952px) {
    section {
      background-size: contain;
      background-repeat: repeat; } }
  @media (min-width: 952px) {
    section {
      background-size: cover;
      background-repeat: no-repeat; } }

.section__title {
  color: white;
  text-align: center;
  border-radius: 15px;
  width: 80%;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem; }

.section__title#about {
  background-color: #9a74a2; }

.section__title#consultas {
  background-color: #fab95b; }

.section__title#talleres {
  background-color: #ee8886; }

.section__title#archivos {
  background-color: #dccb73; }

.section__title#contacto {
  background-color: #afd0a0; }

#sec-2 {
  background-image: url(../img/bg/bg-about.jpg); }

#section_consultas {
  background-image: url(../img/bg/bg-consultas.jpg); }

#sec-5 {
  background-image: url(../img/bg/bg-talleres.jpg); }

#sec-6 {
  background-image: url(../img/bg/bg-archivos.jpg); }

#sec-7 {
  background-image: url(../img/bg/bg-contacto.jpg); }

/* INICIO */
@media (max-width: 952px) {
  .home {
    margin-top: 2.5rem; } }

@media (max-width: 768px) {
  .home {
    margin-top: 4rem; } }

@media (max-width: 576px) {
  .home {
    margin-top: 6rem; } }

/* SOBRE MI */
.about {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 952px) {
    .about {
      justify-content: center; } }
  @media (min-width: 952px) {
    .about {
      justify-content: space-between; } }
  .about .about_card {
    display: flex;
    flex-direction: column;
    background-color: #9a74a2;
    border-radius: 15px;
    margin: 1rem 0rem;
    width: 270px;
    height: 525px; }
    @media (max-width: 952px) {
      .about .about_card {
        height: fit-content;
        width: 100%; } }
    .about .about_card .about_card--title {
      color: #9a74a2;
      padding: 1rem;
      background-color: white;
      border: 4px solid #9a74a2;
      border-radius: 15px;
      width: 100%;
      text-align: center; }
    .about .about_card .about_card--text {
      color: white;
      align-self: center;
      margin: 0.8rem;
      overflow: hidden; }
      .about .about_card .about_card--text p {
        text-align: justify;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .about .about_card .about_card--text ul li {
        text-align: justify;
        font-size: 1rem; }

/* CONSULTAS */
.modalidades {
  display: flex;
  flex-wrap: wrap;
  height: fit-content; }
  @media (max-width: 952px) {
    .modalidades {
      justify-content: center; } }
  @media (min-width: 952px) {
    .modalidades {
      justify-content: space-between; } }
  .modalidades .modalidad_card {
    display: flex;
    flex-direction: column;
    background-color: #fab95b;
    border-radius: 15px;
    margin: 1rem 0.6rem; }
    @media (min-width: 952px) {
      .modalidades .modalidad_card {
        width: 46%; } }
    @media (max-width: 952px) {
      .modalidades .modalidad_card {
        width: 100%; } }
    .modalidades .modalidad_card .modalidad_card--title {
      color: #fab95b;
      padding: 1rem;
      background-color: white;
      border: 4px solid #fab95b;
      border-radius: 15px;
      width: 100%;
      text-align: center; }
    .modalidades .modalidad_card .modalidad_card--text {
      color: white;
      align-self: center;
      margin: 1rem;
      overflow: hidden; }
      .modalidades .modalidad_card .modalidad_card--text p {
        text-align: justify;
        font-size: 1rem; }
      .modalidades .modalidad_card .modalidad_card--text ul li {
        text-align: justify;
        font-size: 1.1rem; }

.faq {
  margin: 1rem 0rem; }
  .faq .faq_title {
    color: #fab95b;
    padding: 1rem;
    background-color: white;
    border: 4px solid #fab95b;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem; }
    .faq .faq_title h3 {
      font-size: 2rem;
      font-family: kg-what-a-time;
      margin: 0; }
  .faq .accordion .accordion-item {
    padding: 0; }
    .faq .accordion .accordion-item .accordion-collapse .accordion-body {
      font-weight: 350;
      font-size: 1.2rem;
      text-align: justify;
      font-family: "Lato", sans-serif;
      color: white;
      background-color: #fab95b; }
    .faq .accordion .accordion-item .accordion-header .accordion-button {
      font-size: 1.5rem;
      font-weight: 400;
      color: #fab95b; }
    .faq .accordion .accordion-item .accordion-button::after {
      background-image: url(../img/arrow.svg); }
    .faq .accordion .accordion-item .accordion-button:focus {
      z-index: 3;
      border-color: #fab95b;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #fab85b49; }
    .faq .accordion .accordion-item .accordion-button:not(.collapsed) {
      color: #fab95b;
      background-color: #fab85b49;
      box-shadow: inset 0 -1px 0 #fab85b49; }

/* TALLERES */
.talleres {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 952px) {
    .talleres {
      justify-content: center; } }
  @media (min-width: 952px) {
    .talleres {
      justify-content: space-between; } }
  .talleres .talleres__card {
    display: flex;
    flex-direction: column;
    border: solid #ee8886 4px;
    border-radius: 15px;
    margin: 1rem 0rem;
    width: 292px;
    height: 437px;
    background-color: white; }
    .talleres .talleres__card .talleres__card--img {
      overflow: hidden;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 90%; }
    .talleres .talleres__card .talleres__card--img#taller-1 {
      background-image: url(../img/taller-1.jpg); }
    .talleres .talleres__card .talleres__card--img#taller-2 {
      background-image: url(../img/taller-2.png); }
    .talleres .talleres__card .talleres__card--img#taller-3 {
      background-image: url(../img/taller-3.png); }
    .talleres .talleres__card .talleres__card--link {
      color: #ee8886;
      padding: 1rem;
      background-color: white;
      border-top: 4px solid #ee8886;
      border-radius: 15px;
      width: 100%;
      text-align: center;
      font-size: 2rem; }
    .talleres .talleres__card .talleres__card--link:hover {
      color: white;
      background-color: #ee8886; }

/* ARCHIVOS */
.archivos {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 952px) {
    .archivos {
      justify-content: center; } }
  @media (min-width: 952px) {
    .archivos {
      justify-content: space-between; } }
  .archivos .archivos__card {
    display: flex;
    flex-direction: column;
    border: solid #dccb73 4px;
    border-radius: 15px;
    margin: 1rem 0rem;
    width: 292px;
    height: 437px;
    background-color: #dccb73; }
    .archivos .archivos__card .archivos__card--text {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 85%;
      font-size: 1.8rem;
      color: white; }
      .archivos .archivos__card .archivos__card--text p {
        font-size: 1.8rem;
        text-align: center; }
    .archivos .archivos__card .archivos__card--link {
      color: #dccb73;
      padding: 1rem;
      background-color: white;
      border-radius: 15px;
      width: 100%;
      text-align: center;
      font-size: 2rem; }
    .archivos .archivos__card .archivos__card--link:hover {
      color: white;
      background-color: #dccb73;
      border: white solid 2px; }

/* CONTACTO */
.contacto {
  display: flex;
  flex-wrap: wrap;
  height: fit-content; }
  @media (max-width: 952px) {
    .contacto {
      justify-content: center; } }
  @media (min-width: 952px) {
    .contacto {
      justify-content: space-between; } }
  .contacto .contacto__card {
    display: flex;
    flex-direction: column;
    background-color: #afd0a0;
    border-radius: 15px;
    margin: 1rem 0.6rem;
    padding: 1.5rem 2rem;
    justify-content: center; }
    @media (min-width: 952px) {
      .contacto .contacto__card {
        width: 46%; } }
    @media (max-width: 952px) {
      .contacto .contacto__card {
        width: 100%; } }
    .contacto .contacto__card .contacto__card--text {
      display: flex;
      align-items: center;
      color: white;
      font-size: 2rem;
      margin: 0.5rem 0rem; }
      .contacto .contacto__card .contacto__card--text a {
        margin-left: 0.75rem; }
        @media (min-width: 952px) {
          .contacto .contacto__card .contacto__card--text a {
            font-size: 1.8rem; } }
        @media (max-width: 952px) {
          .contacto .contacto__card .contacto__card--text a {
            font-size: 1.3rem; } }
