/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@font-face {
  font-family: kg-what-a-time;
  src: url(../css/kg-what-a-time.ttf) format("truetype"); }

/* PALETA DE COLORES */
/* NORMALIZE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }
  * body h1 {
    font-size: 2rem; }
  * body p {
    font-size: 1.2rem; }
  * body ul {
    margin: 0; }
  * body a {
    text-decoration: none;
    color: currentColor; }

/* NAVBAR */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  .header .nav-logo {
    color: #69af5c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #E1EFDE;
    font-family: kg-what-a-time;
    font-size: 4rem; }
  .header .navbar {
    background-color: #E1EFDE;
    padding-top: 0; }
  .header .navbar-nav .nav-item .nav-link {
    color: black;
    font-size: 1.3rem; }
    @media (min-width: 992px) {
      .header .navbar-nav .nav-item .nav-link {
        margin: 0rem 2rem; } }
  .header .navbar-nav .dropdown-menu {
    background-color: #E1EFDE;
    font-family: "Lato", sans-serif;
    color: black; }
    .header .navbar-nav .dropdown-menu .dropdown-item {
      font-size: 1.3rem; }
  .header button.navbar-toggler {
    border: 2px solid #69af5c;
    transition: border .15s ease-in-out; }
  .header button.navbar-toggler span i.fas.fa-bars {
    color: #69af5c;
    font-size: 1.5rem; }
  .header button.navbar-toggler:focus {
    border: 3px solid #69af5c;
    box-shadow: none; }

/* FOOTER */
footer {
  height: fit-content;
  background-color: #E1EFDE; }
  footer div {
    color: #69af5c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto; }
    footer div img {
      height: 2.5rem;
      width: 2.5rem;
      margin: 2rem 0rem;
      color: #69af5c; }

/* SECCIONES */
section {
  height: fit-content; }

.section__title {
  color: white;
  text-align: center;
  border-radius: 15px;
  width: 80%;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem; }

.section__title#about {
  background-color: #9a74a2; }

.section__title#consultas {
  background-color: #fab95b; }

.section__title#talleres {
  background-color: #ee8886; }

.section__title#archivos {
  background-color: #dccb73; }

.section__title#contacto {
  background-color: #afd0a0; }

/* INICIO */
@media (max-width: 952px) {
  .home {
    margin-top: 2.5rem; } }

@media (max-width: 768px) {
  .home {
    margin-top: 4rem; } }

@media (max-width: 576px) {
  .home {
    margin-top: 6rem; } }

/* SOBRE MI */
.about {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  /* background-image: url(../img/bg/); */ }
  @media (max-width: 952px) {
    .about {
      justify-content: center; } }
  @media (min-width: 952px) {
    .about {
      justify-content: space-between; } }
  .about .about_card {
    display: flex;
    flex-direction: column;
    background-color: #9a74a2;
    border-radius: 15px;
    margin: 1rem 0rem;
    width: 270px;
    height: 525px; }
    @media (max-width: 952px) {
      .about .about_card {
        height: fit-content;
        width: 100%; } }
    .about .about_card .about_card--title {
      color: #9a74a2;
      padding: 1rem;
      background-color: white;
      border: 4px solid #9a74a2;
      border-radius: 15px;
      width: 100%;
      text-align: center; }
    .about .about_card .about_card--text {
      color: white;
      align-self: center;
      margin: 0.8rem;
      overflow: hidden; }
      .about .about_card .about_card--text p {
        text-align: justify;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .about .about_card .about_card--text ul li {
        text-align: justify;
        font-size: 1rem; }

/* TALLERES */
.modalidades {
  display: flex;
  flex-wrap: wrap;
  height: fit-content; }
  @media (max-width: 952px) {
    .modalidades {
      justify-content: center; } }
  @media (min-width: 952px) {
    .modalidades {
      justify-content: space-between; } }
  .modalidades .modalidad_card {
    display: flex;
    flex-direction: column;
    background-color: #fab95b;
    border-radius: 15px;
    margin: 1rem 0.6rem; }
    @media (min-width: 952px) {
      .modalidades .modalidad_card {
        width: 46%; } }
    @media (max-width: 952px) {
      .modalidades .modalidad_card {
        width: 100%; } }
    .modalidades .modalidad_card .modalidad_card--title {
      color: #fab95b;
      padding: 1rem;
      background-color: white;
      border: 4px solid #fab95b;
      border-radius: 15px;
      width: 100%;
      text-align: center; }
      .modalidades .modalidad_card .modalidad_card--title h3 {
        font-size: 2rem; }
    .modalidades .modalidad_card .modalidad_card--text {
      color: white;
      align-self: center;
      margin: 1rem;
      overflow: hidden; }
      .modalidades .modalidad_card .modalidad_card--text p {
        text-align: justify;
        font-size: 1rem; }
      .modalidades .modalidad_card .modalidad_card--text ul li {
        text-align: justify;
        font-size: 1.1rem; }

.faq {
  margin: 1rem 0rem; }
  .faq .faq_title {
    color: #fab95b;
    padding: 1rem;
    background-color: white;
    border: 4px solid #fab95b;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem; }
    .faq .faq_title h3 {
      font-size: 2rem; }
  .faq .accordion .accordion-item {
    padding: 0; }
    .faq .accordion .accordion-item .accordion-collapse .accordion-body {
      font-weight: 350;
      font-size: 1.2rem;
      text-align: justify;
      font-family: "Lato", sans-serif;
      color: white;
      background-color: #fab95b; }
    .faq .accordion .accordion-item .accordion-header .accordion-button {
      font-size: 1.5rem;
      font-weight: 400;
      color: #fab95b; }
    .faq .accordion .accordion-item .accordion-button::after {
      background-image: url(../img/arrow.svg); }
    .faq .accordion .accordion-item .accordion-button:focus {
      z-index: 3;
      border-color: #fab95b;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #fab85b49; }
    .faq .accordion .accordion-item .accordion-button:not(.collapsed) {
      color: #fab95b;
      background-color: #fab85b49;
      box-shadow: inset 0 -1px 0 #fab85b49; }

/* ARCHIVOS */
/* CONTACTO */
.contacto {
  display: flex;
  flex-wrap: wrap;
  height: fit-content; }
  @media (max-width: 952px) {
    .contacto {
      justify-content: center; } }
  @media (min-width: 952px) {
    .contacto {
      justify-content: space-between; } }
  .contacto .contacto__card {
    display: flex;
    flex-direction: column;
    background-color: #afd0a0;
    border-radius: 15px;
    margin: 1rem 0.6rem;
    padding: 1.5rem 2rem;
    justify-content: center; }
    @media (min-width: 952px) {
      .contacto .contacto__card {
        width: 46%; } }
    @media (max-width: 952px) {
      .contacto .contacto__card {
        width: 100%; } }
    .contacto .contacto__card .contacto__card--text {
      display: flex;
      align-items: center;
      color: white;
      font-size: 2rem;
      margin: 0.5rem 0rem; }
      .contacto .contacto__card .contacto__card--text a {
        font-size: 1.8rem;
        margin-left: 0.75rem; }
